/.git
/.github
/.vscode
/node_modules
/archived
/docs/airnode/pre-alpha

# .vuepress
/docs/.vuepress/components
/docs/.vuepress/dist
/docs/.vuepress/public
/docs/.vuepress/styles

# dao-members
/docs/dao-members/assets
/docs/dao-members/figures

# api3
/docs/api3/assets

# v0.2
/docs/airnode/v0.2/assets
/docs/airnode/v0.2/figures
