
.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;
}

.suggestions {
  left: auto !important;
  right: 0 !important;
}


/*.theme-container {
  color:#505050;
}*/


/* These next two apply changes to the sidebar */
/*.sidebar-group .sidebar-heading {
  color:#909090;
}
.depth-1{
  color:indigo;
  opacity: 1;
}*/


/** Change the color of the Vuepress tip quotebox to lightgrey */
.tip{
  border-left:solid lightgrey 5px !important;
}

/************************************************/
/* START Vuepress native sidebar changes */
/************************************************/
a.active.sidebar-link:not(.sidebar-sub-headers .sidebar-sub-header .sidebar-link) {
  background-color:#e0ffdd !important; /*#e0ffdd*/
  border-left:4px solid #e0ffdd !important;
  border-right:4px solid green !important;
  
  /*opacity: 0.7;*/
  /*color:green;*/
}

p.sidebar-heading.open{
  font-size:13pt !important;
  color:black !important;

}

p.sidebar-heading{
  font-size:13pt !important;
  color:gray !important;
  opacity: 1 !important;
  cursor: pointer !important;
}

ul.sidebar-sub-headers{
  margin-left:38px !important;
  border-left:2px lightgrey solid !important;
}
li.sidebar-sub-header{
  margin-left:-35px !important;
}

.sidebar{
  border-right:solid 1px lightgrey;
}
/************************************************/
/* END sidbar changes */
/************************************************/



.navbar, .search-box, div.links, .nav-item, .site-name{
  color:white !important;
  background-color:black !important;
}

a.nav-link.external, a.repo-link{
  font-weight:bold !important;
  color:white !important;
}




/* Site name at top of landing page */
.site-name{
  font-size:large !important;
}

/******************************************************/
/* START Native TOC adjustments */
/******************************************************/
.table-of-contents{
    position: fixed;
    top:1 0px;
    right: 5px;
    font-size:small;
    color:#50c878;
    min-width:275px !important;
    max-width:275px !important;
}

@media only screen and (max-width: 4000px) {
    div.theme-default-content.content__default{
      max-width:67% ;
      margin-left:70px;
    }
}
@media only screen and (max-width: 1600px) {
    div.theme-default-content.content__default{
      /*background-color: pink;*/
      max-width:65%;
      margin-left:70px;
    }
}
@media only screen and (max-width: 1500px) {
    div.theme-default-content.content__default{
      /*background-color: yellow;*/
      max-width:65%;
      margin-left:30px;
    }
}
@media only screen and (max-width: 1450px) {
    div.theme-default-content.content__default{
      /*background-color: gray;*/
      max-width:65%;
      margin-left:10px;
    }
}
@media only screen and (max-width: 1400px) {
    div.theme-default-content.content__default{
      /*background-color: lightgrey;*/
      max-width:65%;
      margin-left:10px;
    }
}
@media only screen and (max-width: 1350px) {
    div.theme-default-content.content__default{
      /*background-color: beige;*/
      max-width:65%;
      margin-left:10px;
    }
}
@media only screen and (max-width: 1300px) {
    div.theme-default-content.content__default{
      /*background-color: pink;*/
      max-width:60%;
      margin-left:10px;
    }
}

@media only screen and (max-width: 1200px) {
    .table-of-contents{
      display:none;
    }
    div.theme-default-content.content__default{
      /*(background-color: lightblue;*/
      margin-left:10px;
      max-width:85%;
    }
}
@media only screen and (max-width: 900px) {
    .table-of-contents{
      display:none;
    }
    div.theme-default-content.content__default{
      /*background-color: lightgreen;*/
      margin-left:10px;
      max-width:85%;
    }
}

          /* Mobile */
@media only screen and (max-width: 500px) {
    div.theme-default-content.content__default {
        margin-left:0px;
        max-width:88% !important;
    }
}
/************************************************/
/* END Native TOC adjustments */
/************************************************/



