
.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;
}

.suggestions {
  left: auto !important;
  right: 0 !important;
}


/*.theme-container {
  color:#505050;
}*/


/* These next two apply changes to the sidebar */
/*.sidebar-group .sidebar-heading {
  color:#909090;
}
.depth-1{
  color:indigo;
  opacity: 1;
}*/

/** Reco sub-sidebar **/
/*.sidebar-group-items .sidebar-group .sidebar-heading{
  opacity: 1 !important;
}*/

/** reco */
/*.level-2{
  margin-left: -15px;
  font: bold 14px Arial, serif;
}*/

/** reco **/
/*.sub-sidebar-wrapper{
  height:85vh; 
  top: 80px !important;
  border-top: 2px solid #3cb371;
}*/

/** Change the color of the Vuepress tip quotebox to lightgrey */
.tip{
  border-left:solid lightgrey 5px !important;
}

/* START Vuepress native sidebar changes */
a.active.sidebar-link:not(.sidebar-sub-headers .sidebar-sub-header .sidebar-link) {
  background-color:#e0ffdd !important;
  border-left:4px solid #e0ffdd !important;
  border-right:4px solid green !important;
  
  /*opacity: 0.7;*/
  /*color:green;*/
}

p.sidebar-heading.open{
  font-size:13pt !important;
  color:black !important;

}

p.sidebar-heading{
  font-size:13pt !important;
  color:gray !important;
  opacity: 1 !important;
  cursor: pointer !important;
}

ul.sidebar-sub-headers{
  margin-left:38px !important;
  border-left:2px lightgrey solid !important;
}
li.sidebar-sub-header{
  margin-left:-35px !important;
}

.sidebar{
  border-right:solid 1px lightgrey;
}
/* END sidbar changes */



.navbar, .search-box, div.links, .nav-item, .site-name{
  color:white !important;
  background-color:black !important;
}

a.nav-link.external, a.repo-link{
  font-weight:bold !important;
  color:white !important;
}




/* Site name at top of landing page */
.site-name{
  font-size:large !important;
}





