.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;

  .suggestions {
    left: auto !important;
    right: 0 !important;
  }
}

/*.theme-container {
  color:#505050;
}*/


/* Thes next two apply changes to the sidebar */
.sidebar-group .sidebar-heading {
  color:#909090;
}
.depth-1{
  color:indigo;
  opacity: 1;
}


